
.nav-bar {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.nav-bar .nav-bar-content {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-bar-content .nav-bar-section {
    display: flex;
    align-items: center;
}


.nav-bar .nav-bar-content section .logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar .nav-bar-content section .logo img {
    width: 55px;
}

.nav-bar .nav-bar-content section .search-container{
    align-self: center;
}

.nav-bar .nav-bar-content section .search-container input {
    margin: 0 10px;
}



.nav-bar .nav-bar-content section .avatar {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid #ddd;
    padding: 4px;
    display: flex;
    background-color: #ddd;
    cursor: pointer;
} 

.nav-bar .nav-bar-content section .avatar img{
    width: auto;
}
    

